<div class="backdrop"></div>
<header class="main-header">
  <nav class="nav bd-grid">
    <div class="nav__toggle" id="nav-toggle">
      <img src="../../images/logo/menu.svg" alt="" />
    </div>

    <div>
      <a href="" class="nav__logo"
        ><img src="../../images/logo/nike-logo.svg" alt=""
      /></a>
    </div>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link <%= path === '/' ? 'active' : '' %>" href="/"
            >Shop</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link <%= path === '/products' ? 'active' : '' %>"
            href="/products"
            >Products</a
          >
        </li>

        <% if (isAuthenticated) { %>
        <li class="nav__item">
          <a
            class="nav__link <%= path === '/cart' ? 'active' : '' %>"
            href="/cart"
            >Cart</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link <%= path === '/orders' ? 'active' : '' %>"
            href="/orders"
            >Orders</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link <%= path === '/admin/add-product' ? 'active' : '' %>"
            href="/admin/add-product"
            >Add Product
          </a>
        </li>
        <li class="nav__item">
          <a
            class="nav__link <%= path === '/admin/products' ? 'active' : '' %>"
            href="/admin/products"
            >Admin Products
          </a>
        </li>
        <% } %>

        <% if (!isAuthenticated) { %>
          <li class="nav__item mobile">
            <a
              class="nav__link <%= path === '/login' ? 'active' : '' %>"
              href="/login"
              >Login</a
            >
          </li>
          <li class="nav__item mobile">
            <a
              class="nav__link <%= path === '/signup' ? 'active' : '' %>"
              href="/signup"
              >Signup</a
            >
          </li>
          <% } else { %>
          <li class="nav__item mobile">
            <form style="height: 100%" action="/logout" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button class="nav__link" type="submit">Logout</button>
            </form>
          </li>
          <% } %>

      </ul>
    </div>
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <% if (!isAuthenticated) { %>
        <li class="nav__item desktop">
          <a
            class="nav__link <%= path === '/login' ? 'active' : '' %>"
            href="/login"
            >Login</a
          >
        </li>
        <li class="nav__item desktop">
          <a
            class="nav__link <%= path === '/signup' ? 'active' : '' %>"
            href="/signup"
            >Signup</a
          >
        </li>
        <% } else { %>
        <li class="nav__item desktop">
          <form style="height: 100%" action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="nav__link" type="submit">Logout</button>
          </form>
        </li>
        <% } %>
      </ul>
    </div>
    <div class="nav__shop mobile">
      <img src="../../images/logo/shop-bag.svg" alt="" />
    </div>
  </nav>
</header>

<!-- <nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/products' ? 'active' : '' %>" href="/products"
        >Products</a
      >
    </li>
    <% if (isAuthenticated) { %>
    <li class="mobile-nav__item">
      <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders"
        >Orders</a
      >
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/admin/add-product' ? 'active' : '' %>"
        href="/admin/add-product"
        >Add Product
      </a>
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/admin/products' ? 'active' : '' %>"
        href="/admin/products"
        >Admin Products
      </a>
    </li>
    <% } %> <% if (!isAuthenticated) { %>
    <li class="mobile-nav__item">
      <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
        >Login</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup"
        >Signup</a
      >
    </li>
    <% } else { %>
    <li class="mobile-nav__item">
      <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit">Logout</button>
      </form>
    </li>
    <% } %>
  </ul>
</nav> -->
