<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product-item.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="main prod-grid">
                <% for (let product of prods) { %>
                    <article class="card">
                        <div class="card__img">
                            <img src="/<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card__name">
                            <p><%= product.title %></p>
                        </div>
                        <div class="card__precis">
                            <a href="/products/<%= product._id %>" class="card__icon" ><img src="../../images/logo/alert-circle-outline.svg" alt="<%= product.title %>"></ion-icon></a>
                            <div>
                                <span class="card__preci card__preci--before">&#8377; <%= product.price %></span>
                                <span class="card__preci card__preci--now">&#8377; <%= product.price %></span>
                            </div>
                            <form action="/cart" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input class="card__icon" type="image" src="../../images/logo/cart-outline.svg" alt="<%= product.title %>" >
                                <input type="hidden" name="productId" value="<%= product._id %>">
                            </form>
                            <!-- <a href="" class="card__icon"><img src="../../images/logo/cart-outline.svg" alt="<%= product.title %>"></a> -->
                        </div>
                        <!-- <div class="card__actions">
                            <a href="/products/<%= product._id %>" class="btn">Details</a>
                            <% if (isAuthenticated) {%>
                                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                <% } %>
                        </div> -->
                    </article>
                <% } %>
            </div>

            <%- include('../includes/pagination.ejs', {currentPage: currentPage, previousPage: previousPage, hasPreviousPage: hasPreviousPage, hasNextPage: hasNextPage, nextPage: nextPage, lastPage: lastPage}) %>

        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>