<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <div class="main-empty__order">
                    <div class="empty__order">
                        <img class="empty__order-img" src="../../images/bg/emptyOrder.png" alt="">
                        <div class="empty__order-text">You have no orders</div>
                        <a href="/" class="empty__order-shop-now-btn">Start Shopping</a>
                    </div>
               </div>
            <% } else { %>
                <div class="orders">
                    <% orders.forEach(order => { %>
                        <div class="order__item">
                            <div class="order__id">Order - # <%= order._id %></div>
                            <div class="divider"></div>
                            <div class="order__products">
                                <% order.products.forEach(p => { %>
                                    <div class="product">
                                        <div class="prod__img">
                                            <img src="/<%= p.product.imageUrl %>" alt="<%= p.product.title %>">
                                        </div>
                                        <div class="prod__details">
                                            <div class="prod__detail">
                                                <div>
                                                    <div class="prod__title"><%= p.product.title %></div>
                                                    <div class="prod__type">NIKE Men's Running Shoe</div>
                                                    <div class="prod__size">Size: 8</div>
                                                    <div class="prod__qty">Quantity: <%= p.quantity %></div>
                                                </div>
                                                <div class="prod__price">&#8377;<%= p.product.price %></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>)</li> -->
                                <% }); %>
                            </div>

                            <div class="invoice">
                                <a class="invoice__btn" href="/orders/<%= order._id %>">Invoice</a>
                            </div>
                        </div>
                    <% }); %>
                    </div>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>